.list-post-container{
    display: block;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 400px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.card-header .card-head-content{
    margin: 5px;
}
.card-header .card-head-content p{
    margin: 0;
}

.card-header .card-head-content h3{
    margin: 0;
}

.image-container img{
    width: 100%;
}

.card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
}

.card-footer .card-footer-icon img{
    margin: 10px;
}


