.form-container{
    max-width: 400px;;
    margin:100px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.field-container{
    margin: 15px 30px;
    display: flex;
    flex-wrap: nowrap;
}

.field-container button{
    margin: auto;
}

.field-container:first-child input{
    width: 300px;
}

.field-container-author{
    margin: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.author input{
    width: 120px;
}


.author-md-right{
    margin-right: 85px;
}

.description input{
    width: 350px;
}

